<table>
    <thead>
        <tr>
           <td> TEAM ID </td>
           <td> PLAYER NAME </td>
        </tr>
    </thead>
    <tbody>
       <tr>
           <td> INFORMATION FOR THE DATA </td>
           <td> <%= @val.team_id %> </td>
           <td> <%= @val.playername %> </td>
       </tr>
    </tbody>
</table>